.navbar-default.navbar-shrink {
    padding: 10px 0;
    background-color: #222;
}
.text-primary {
    color: #000000;
}

.mijnlogo {
    margin-top: -12px;
}

/*Extra small devices (768px and less)*/
.youtube-embedded {
    width: 560px;
    height: 315px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .youtube-embedded {
        width: 768px;
        height: 432px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .youtube-embedded {
        width: 992px;
        height: 558px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .youtube-embedded {
        width: 1200px;
        height: 675px;
    } 
}

.absolute-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 100px;
  height: 100px;
}


