.fa.fa-15x {
  font-size: 15em;
}

.navbar-right {
    margin-right: 0px;
}


.navbar-default.navbar-shrink {
    padding: 10px 0;
    background-color: #222;
}
.text-primary {
    color: #000000;
}

.mijnlogo {
    margin-top: -12px;
}

.position-relative {
    position: relative;
}

.youtube-thumbnail {
    cursor:pointer;    
}

.feather {
    height: 150px;
    background-image: url(../img/blur.png);
    background-repeat: repeat-x;
    bottom: 0px;
}

.blocklet {   
    height: 7em;
    width: 7em;
    background-color: white;
}

.video-section {
    padding: 0px;    
}

#intro-video i {
    position:absolute;
    z-index: 1000;
    color: #e52d27;
    text-shadow: white 0 0 0.9em, white 0 0 0.9em;
}
#intro-video .grey-area {
    background-color: #F2F1F3;
}

#intro-video .container {
    /*margin-bottom: -5px;*/
}

.white-spacing {
    height: 100px;
    width: 100%;
    background: white;
}

.center {
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*Extra small devices (768px and less)*/
.youtube-embedded {
    width: 480px;
    height: 270px;
}

iframe {
    width: 480px;
    height: 270px;
    margin-bottom: 30px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .youtube-embedded {
        width: 768px;
        height: 432px;
    }
    iframe {
        width: 768px;
        height: 432px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .youtube-embedded {
        width: 992px;
        height: 558px;
    }
        iframe {
        width: 992px;
        height: 558px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .youtube-embedded {
        width: 1200px;
        height: 675px;
    } 
        iframe {
        width: 1200px;
        height: 675px;
    } 
}

.absolute-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 100px;
  height: 100px;
}


